.qodo
.env*
src/creds.py
**/creds.py
creds.py
**/__pycache__
__pycache__
.git*
**/.git*search*.txt
**/search*.txt
**/*.pdf
agent_history.gif
recordings
.memory_db
examples/outputs
examples/output
.DS_Store
**/.DS_Store
PROJECT_PLANS_PRDS
PERSONAL_NOTES
processed_papers
SAVED_CONVERSATIONS
